* {
    margin: 0;
    padding: 0;
    color: white;
}

html, body {
    background: #202022;
    border-radius: 5px;
}

body {
    height: 100vh;
    width: 100vw;
    color: white;
}

#gamescreen {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100vw;
    width: 70vw;
    height: 70vw;
    background-image: url('/img/hbitface.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15vw;
}

#startselect {
    position: fixed;
    bottom: 10px;
    width: 100%;
}


.buttongroup {
    text-align: center;
}

#dpad {
    position: fixed;
    top: 115vw;
    left: 10vw;
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    transform: rotate(-45deg);
    padding: 2vw;
    max-height: 40vw;
    background-image: url('/img/dpadback_raw.svg');
    background-size: cover;
    background-position: center;
}

#dpad button {
    height: 80%;
    width: 80%;
    margin: auto;
    border: none;
    padding: 0;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
}
#dpad button#pad-up {
    background-image: url('/img/button_up_raw.svg');
    margin-left: 0;
    margin-bottom: 0;
}
#dpad button#pad-down {
    background-image: url('/img/button_down_raw.svg');
    margin-right: 0;
    margin-top: 0;
}
#dpad button#pad-right {
    background-image: url('/img/button_right_raw.svg');
    margin-left: 0;
    margin-top: 0
}
#dpad button#pad-left {
    background-image: url('/img/button_left_raw.svg');
    margin-right: 0;
    margin-bottom: 0;
}

#shoulder {
    position: fixed;
    top: 100vw;
    height: 10vw;
    width: 100vw;
}

#shoulder button {
    height: 100%;
    width: 40%;
}

#startselect button {
    height: 3vh;
    width: 10vh
}

#rightbuttons {
    position: fixed;
    top: 115vw;
    right: 10vw;
    width: 40vw;
    height: 20vw;
}
#rightbuttons button {
    width: 15vw;
    height: 15vw;
    background: none;
    border: none;
    background-position: center;
    background-size: cover;
}

#rightbuttons #abutton {
    padding-bottom: 8vw;
    background-image: url('/img/button_a_raw.svg');
}
#rightbuttons #bbutton {
    padding-top: 8vw;
    background-image: url('/img/button_a_raw.svg');
}

@media (orientation:landscape) {
    body {
        height: 100vh;
        width: 100vw;
        display: grid;
        color: white;
        grid-template-columns: 2vw 28vw 45vw 20vw 5vw;
        grid-template-rows: 5vh 20vh 45vh 20vh 5vh;
        grid-template-areas:
        ".    .    .          .    ."
        ".    .    gamescreen .    ."
        ".    dpad gamescreen rightbuttons ."
        ".    .    gamescreen startselect ."
        ".    .    .          .    .";
    }
    #dpad {
        max-height: 20vw;
        max-width: 20vw;
        min-height: 20vw;
        min-width: 20vw;
    }
}