* {
    margin: 0;
    padding: 0;
    color: white;
}

html, body {
    background: black;
}

body {
    height: 100vh;
    width: 100vw;
    color: white;
}

#gamescreen {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100vw;
    width: 70vw;
    height: 70vw;
    background-image: url('/img/hbitface.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15vw;
}

#startselect {
    position: fixed;
    bottom: 10px;
    width: 100%;
}


.buttongroup {
    text-align: center;
}

#dpad {
    position: fixed;
    bottom: 30vw;
    left: 10vw;
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    transform: rotate(45deg);
    padding: 2vw;
    max-height: 40vw;
}

#dpad button {
    height: 80%;
    width: 80%;
}

#startselect button {
    height: 3vh;
    width: 10vh
}

#rightbuttons {
    position: fixed;
    bottom: 40vw;
    right: 10vw;
    width: 40vw;
    height: 20vw;
}
#rightbuttons button {
    width: 15vw;
    height: 15vw;
}

#rightbuttons #abutton {
    padding-bottom: 8vw;
}
#rightbuttons #bbutton {
    padding-top: 8vw;
}

@media (orientation:landscape) {
    body {
        height: 100vh;
        width: 100vw;
        display: grid;
        color: white;
        grid-template-columns: 2vw 28vw 45vw 20vw 5vw;
        grid-template-rows: 5vh 20vh 45vh 20vh 5vh;
        grid-template-areas:
        ".    .    .          .    ."
        ".    .    gamescreen .    ."
        ".    dpad gamescreen rightbuttons ."
        ".    .    gamescreen startselect ."
        ".    .    .          .    .";
    }
    #dpad {
        max-height: 20vw;
        max-width: 20vw;
        min-height: 20vw;
        min-width: 20vw;
    }
}