#vscode config
.vs/

#test code
carts/
imgpreview/
minimal.html
old.index.html

#node modules
node_modules/

#uncompiled source
ts/
tsconfig.json

#parcel files
.cache/
dist/

#github files
.gitignore
.nojekyll
build.sh